// global/settings.typography
//========================================================================== */

$dancing-script: 'Dancing Script', cursive;
$eb-garamond: 'EB Garamond', serif;
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;