/* partials/reset
============================================================================ 
============================================================================ */

/* Global
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  position: relative;
  margin: 0;
  padding: 0;
}

// Inherit to prevent messing with other libraries
*, *:before, *:after {
  box-sizing: inherit;
}

///**
// * 1. Prevent iOS text size adjust after orientation change, without disabling
// *    user zoom.
// */

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-text-size-adjust: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 1 */
}


/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

///**
// * Correct `block` display not defined for-- 
// *  --any HTML5 element in IE 8/9
// *  --`details` or `summary` in IE 10/11 and Firefox.
// *  --`main` in IE 11.
// */

footer,
header,
main,
menu,
nav,
section {
  display: block;
}

/* Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

///**
// * 1. Remove the gray background color from active links in IE 10.
// * 2. Improve readability when focused and also mouse hovered in all browsers.
// */

a {
  background-color: transparent; /* 1 */

  a:active,
  a:hover {
    outline: 0; /* 2 */
  }
}


/* Text-level semantics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

///**
// * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
// */

b,
strong {
  font-weight: bold;
}

/* Embedded content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

///**
// * Remove border when inside `a` element in IE 8/9/10.
// */

img {
  border: 0;
}

/* Grouping content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

///**
// * Address differences between Firefox and other browsers.
// */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* Forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

///**
// * 1. Correct color not being inherited.
// *    Known issue: affects color of disabled elements.
// * 2. Correct font properties not being inherited. 
// */

button,
input,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
}

///**
// * Address `overflow` set to `hidden` in IE 8/9/10/11.
// */

button {
  overflow: visible;
}

///**
// * Address inconsistent `text-transform` inheritance for `button` and `select`.
// * All other form control elements do not inherit `text-transform` values.
// * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
// * Correct `select` style inheritance in Firefox. 
// */

button,
select {
  text-transform: none;
}

///* Reset sources
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

///**
// * box-sizing: border-box
// * http://stackoverflow.com/questions/29605843/how-do-you-add-box-sizing-border-box-to-normalize-css-file

// * normalize.css
// * https://github.com/necolas/normalize.css/
// */