{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond|Dancing+Script' rel='stylesheet' type='text/css'>

  <title>3 Steps Taken</title>
</head>
<body>

<header>
  <div class="hero cf">
    <div class="quote-outer">
      <div class="quote-inner">
        <span class="quote quote--1">One step forward</span><br>
        <span class="quote quote--2">Two steps back</span><br>
        <span class="quote quote--3">3 Steps Taken</span>
      </div> <!-- .quote-inner -->
    </div> <!-- .quote-outer -->

    <div class="intro-outer">
      <div class="intro-inner">
        <span class="intro__text intro__text--1">Hi! I'm Alex 'Stargazin' Sun.</span><br>
        <span class="intro__text intro__text--2">If you happen to enjoy talking</span><br>
        <span class="intro__text intro__text--3">life, music, or web development,</span>
      </div> <!-- .intro-inner -->
    </div> <!-- .intro-outer -->
  </div> <!-- .hero -->
  <a class="cta" href="blog/post">Let's talk!</a>
</header>

<main></main>
<footer></footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="http://192.168.1.5:35729/livereload.js?snipver=1"></script>
</body>
</html>