{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<title>Landing | 3 Steps Taken</title>
<link href='https://fonts.googleapis.com/css?family=EB+Garamond|Dancing+Script' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/index_v1.1.min.css' %}">
<link rel="canonical" href="http://www.3stepstaken.com/">
{% endblock head %}


{% block body %}
<header class="header">

  <div class="header__intro cf">
    <div class="header__quote-container">
        <span class="header__quote header__quote--1">One step forward</span><br>
        <span class="header__quote header__quote--2">Two steps back</span><br>
        <span class="header__quote header__quote--3">3 Steps Taken</span>
    </div> <!-- .header__quote-container -->

    <div class="header__msg-wrapper">
      <span class="header__msg">Hi! I'm <span class="highlight">Alex</span> 'Stargazin' Sun.<br>If you happen to enjoy talking<br><span class="highlight">life</span>, <span class="highlight">music</span>, or <span class="highlight">web development</span>,</span>
    </div> <!-- .header__msg-wrapper -->
  </div> <!-- .header__intro.cf -->

  <a class="header__cta" href="blog">Let's talk!</a>

</header> <!-- header.header -->
{% endblock body %}


{% block js %}
<script src="{% static 'js/index.min.js' %}"></script>
{% endblock js %}