/* modules/variables
 =========================================================================== 
 =========================================================================== */
/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+bash+json+python+jsx+scss+sql&plugins=line-numbers+remove-initial-line-feed */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  -webkit-border-radius: 0.3em;
          border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  -webkit-border-radius: .3em;
          border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

/* partials/reset
============================================================================ 
============================================================================ */
/* Global
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */ }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer,
header,
main,
menu,
nav,
section {
  display: block; }

/* Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a {
  background-color: transparent;
  /* 1 */ }
  a a:active,
  a a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
b,
strong {
  font-weight: bold; }

/* Embedded content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
img {
  border: 0; }

/* Grouping content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/* Forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
button,
input,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

/* partials/global
============================================================================ 
============================================================================ */
*::-moz-selection {
  background: #b2dbff;
  color: black; }
*::selection {
  background: #b2dbff;
  color: black; }

html {
  font-family: arial;
  font-size: 62.5%; }

body {
  width: 100%;
  height: 100%; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

button:hover {
  cursor: pointer; }

/* Clear-fix
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* partials/blog_post
============================================================================ 
============================================================================ */
html::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; }

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); }

html::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.45); }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1.1px;
  font-family: "Oswald", sans-serif; }

main {
  font-size: 1.8em;
  font-family: "Lato", sans-serif; }

.side-wrapper {
  position: fixed;
  left: 0;
  width: 26rem;
  height: 100vh;
  background: url(../media/blog_sidebg.png);
  border-right: 1px solid #e6e6e6; }
  @media only screen and (max-width: 1200px) {
    .side-wrapper {
      width: 22rem; } }
  @media only screen and (max-width: 992px) {
    .side-wrapper {
      width: 20rem;
      font-size: 0.9em; } }
  @media only screen and (max-width: 768px) {
    .side-wrapper {
      width: 18rem;
      font-size: 0.85em; } }

.side__home {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 2em;
  font-family: "Dancing Script", cursive; }
  @media only screen and (max-width: 992px) {
    .side__home {
      margin-top: 1.7rem; } }
  .side__home > a {
    -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
    color: #ebebeb; }
    .side__home > a:hover {
      text-shadow: 0 0 4px white;
      color: white; }

.side__pic {
  display: block;
  width: 125px;
  height: 125px;
  margin: 2.5rem auto;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media only screen and (max-width: 992px) {
    .side__pic {
      width: 115px;
      height: 115px;
      margin: 2rem auto; } }
  @media only screen and (max-width: 992px) {
    .side__pic {
      width: 105px;
      height: 105px; } }

.side__social {
  display: block;
  position: relative;
  width: 75%;
  margin: 0.5rem auto;
  border-right: 1px solid #272727;
  border-bottom: 1px solid #272727;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0.3rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.12);
  color: #c8c8c8; }
  @media only screen and (max-width: 1200px) {
    .side__social {
      width: 80%; } }
  @media only screen and (max-width: 768px) {
    .side__social {
      width: 90%; } }
  .side__social.social--show:hover {
    color: white; }
  .side__social img {
    float: right;
    width: 24px;
    height: 24px;
    margin-right: 2.5rem;
    -webkit-transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    opacity: 0.95; }
    @media only screen and (max-width: 992px) {
      .side__social img {
        -webkit-transform: scale(0.72, 0.72);
            -ms-transform: scale(0.72, 0.72);
                transform: scale(0.72, 0.72); } }
    @media only screen and (max-width: 768px) {
      .side__social img {
        -webkit-transform: scale(0.68, 0.68);
            -ms-transform: scale(0.68, 0.68);
                transform: scale(0.68, 0.68); } }
  .side__social span {
    float: right;
    width: 55%;
    margin-top: 0.1rem;
    padding-right: 1rem;
    text-align: left; }
    @media only screen and (max-width: 992px) {
      .side__social span {
        margin-top: 0.2rem; } }

.side__social--twitter.social--show {
  border-right: 1px solid #3b6bab;
  border-bottom: 1px solid #3b6bab;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c9bd6), to(#4279c1));
  background: -webkit-linear-gradient(#4c9bd6, #4279c1);
  background: linear-gradient(#4c9bd6, #4279c1); }

.side__social--github.social--show {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.95)), to(rgba(0, 0, 0, 0.95)));
  background: -webkit-linear-gradient(rgba(25, 25, 25, 0.95), rgba(0, 0, 0, 0.95));
  background: linear-gradient(rgba(25, 25, 25, 0.95), rgba(0, 0, 0, 0.95)); }

.side__social--linkedin.social--show {
  border-right: 1px solid #0b486a;
  border-bottom: 1px solid #0b486a;
  background: -webkit-gradient(linear, left top, left bottom, from(#1879a9), to(#0d5075));
  background: -webkit-linear-gradient(#1879a9, #0d5075);
  background: linear-gradient(#1879a9, #0d5075); }

.side__scroll-container {
  left: -0.1rem;
  width: 90%;
  max-height: 35%;
  margin: 3.5rem auto 2rem auto;
  border-right: 1px solid #232323;
  border-bottom: 1px solid #232323;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  overflow-y: auto;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  background-color: rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 992px) {
    .side__scroll-container {
      margin: 2rem auto; } }
  @media only screen and (max-width: 768px) {
    .side__scroll-container {
      width: 94%; } }
  .side__scroll-container:hover {
    border-right: 1px solid #191919;
    border-bottom: 1px solid #191919;
    background-color: #242424; }
  .side__scroll-container::-webkit-scrollbar {
    width: 0.9rem; }
    @media only screen and (max-width: 992px) {
      .side__scroll-container::-webkit-scrollbar {
        width: 0.8rem; } }
  .side__scroll-container::-webkit-scrollbar-track {
    -webkit-border-radius: 0 7px 7px 0;
            border-radius: 0 7px 7px 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .side__scroll-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0 7px 7px 0;
            border-radius: 0 7px 7px 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); }

.side__scroll {
  display: block;
  margin-bottom: 1rem;
  padding: 0 0.7rem;
  -webkit-transition: color 0.07s ease-in-out;
          transition: color 0.07s ease-in-out;
  font-size: 0.9em;
  color: #969696; }
  .side__scroll:first-child {
    padding: 1rem 0.7rem 0 0.7rem; }
  .side__scroll:last-child {
    margin-bottom: 0;
    padding: 0 0.7rem 1rem 0.7rem; }
  .side__scroll:hover {
    color: #dedede; }
  .side__scroll.current-section {
    color: white; }

.post-wrapper {
  margin-left: 26rem;
  padding: 0 2.5rem;
  background-color: #f0f0f0; }
  @media only screen and (max-width: 1200px) {
    .post-wrapper {
      margin-left: 22rem;
      padding: 0;
      background-color: white; } }
  @media only screen and (max-width: 992px) {
    .post-wrapper {
      margin-left: 20rem; } }
  @media only screen and (max-width: 768px) {
    .post-wrapper {
      margin-left: 18rem; } }

.post {
  max-width: 96rem;
  margin: 0 auto;
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  padding: 4rem 10rem 0 10rem;
  background-color: white;
  letter-spacing: 0.4px;
  color: #1e1e1e; }
  @media only screen and (max-width: 1450px) {
    .post {
      max-width: 88rem;
      padding: 4rem 6rem 0 6rem; } }
  @media only screen and (max-width: 1200px) {
    .post {
      max-width: 82rem;
      padding: 3rem 3rem 0 3rem;
      border: none; } }
  @media only screen and (max-width: 992px) {
    .post {
      padding: 3rem 2rem 0 2rem; } }
  @media only screen and (max-width: 768px) {
    .post {
      font-size: 0.95em; } }
  .post a {
    border-bottom: 1px dashed #969696; }
    .post a:hover {
      border-bottom: 1px dashed black; }

.post__title {
  text-align: center; }

.post__info {
  padding-left: 5rem;
  text-align: center;
  font-weight: 400;
  color: #5a5a5a; }

.post__breakdown {
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 55rem;
  margin: 4rem 0 2rem 0;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 2rem 7% 2.2rem 7%;
  font-size: 1.05em;
  background-color: whitesmoke; }

.post__breakdown__header {
  margin-bottom: 1.1rem; }

.post__breakdown__short {
  margin-left: 1rem; }

.post__section {
  margin-bottom: 7rem; }
  .post__section:last-child {
    margin-bottom: 0;
    padding-bottom: 5rem; }
  .post__section .post__section__header {
    margin-bottom: 2.2rem;
    padding-top: 2rem; }
  .post__section p {
    margin: 1.8rem 0;
    line-height: 1.35; }
  .post__section pre {
    margin: 2.2rem 0;
    padding: 3rem 2rem; }
    .post__section pre > code {
      font-size: 1.1em; }
      .post__section pre > code::-moz-selection {
        color: white; }
      .post__section pre > code::selection {
        color: white; }
  .post__section .inline {
    padding: 0.1rem 0.2rem 0 0.2rem;
    font-size: 1.1em;
    background-color: #dedede; }
  .post__section .newbie, .post__section .btw {
    width: 100%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    margin: 2.2rem 0;
    padding: 1.4rem 1rem 1.1rem 1.9rem; }
    .post__section .newbie:before, .post__section .btw:before {
      display: block;
      margin-bottom: 0.7rem;
      text-shadow: 1px 1px 1px black; }
    .post__section .newbie:after, .post__section .btw:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border-top: 2.5rem solid white;
      border-right: 2.5rem solid transparent;
      background-color: transparent; }
  .post__section .newbie {
    border-right: 1px solid #c8e6f0;
    border-bottom: 1px solid #c8e6f0;
    background-color: #d0efff; }
    .post__section .newbie:before {
      content: 'Beginner Tip!'; }
  .post__section .btw {
    border-right: 1px solid #f0c8c8;
    border-bottom: 1px solid #f0c8c8;
    background-color: #ffd0d0; }
    .post__section .btw:before {
      content: 'By The Way,'; }

.post__to-top {
  display: none;
  position: fixed;
  right: 3%;
  bottom: 2rem;
  margin: 0;
  border-right: 1px solid #232323;
  border-bottom: 1px solid #232323;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  opacity: 0.3;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  z-index: 10; }
  .post__to-top:hover {
    opacity: 1;
    border-right: 1px solid #252525;
    border-bottom: 1px solid #252525; }

footer {
  display: none;
  height: 5rem;
  margin-left: 26rem;
  background-color: black; }
