/* blog_home
============================================================================
============================================================================ */
/* generic.normalize-resets (https://github.com/necolas/normalize.css/)
============================================================================ */
/* Global
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }
  *::-moz-selection {
    background: #b2dbff;
    color: black; }
  *::selection {
    background: #b2dbff;
    color: black; }

/*
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  font-size: 62.5%;
  height: 100%; }

/*
 * Inherit to prevent messing with other libraries
 */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Correct `block` display not defined for-- 
 *  --any HTML5 element in IE 8/9
 *  --`details` or `summary` in IE 10/11 and Firefox.
 *  --`main` in IE 11.
 */
nav, menu, header, main, section, footer {
  display: block; }

/* Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 */
a {
  background-color: transparent;
  /* 1 */ }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/* Embedded content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/* Grouping content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -moz-box-sizing: content-box;
  height: 0; }

/* Forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited. 
 */
button, input, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. 
 */
button, select {
  text-transform: none; }

/* Custom
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  height: 100%; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

/* Clear-fix
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* blog/base.scrollbar
============================================================================ */
html::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; }

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); }

html::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.45); }

/* blog/base.page
============================================================================ */
body {
  font-size: 1.8em;
  font-family: "Lato", sans-serif;
  background-color: #fafafa; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1.1px;
  font-family: "Oswald", sans-serif; }

/* blog/objects.containers
============================================================================ */
.content-container {
  min-height: 100%;
  margin-bottom: -3.5rem;
  margin-left: 26rem;
  padding: 0 2.5rem 2.5rem 2.5rem;
  background-color: #f0f0f0; }
  @media only screen and (max-width: 1200px) {
    .content-container {
      margin-left: 22rem;
      padding: 0;
      background-color: white; } }
  @media only screen and (max-width: 992px) {
    .content-container {
      margin-left: 20rem; } }
  @media only screen and (max-width: 768px) {
    .content-container {
      margin-left: 18rem; } }
  @media only screen and (max-width: 480px) {
    .content-container {
      margin-left: 0; } }
  .content-container:after {
    content: '';
    display: block;
    height: 3.5rem; }

/* blog/objects.wrappers
============================================================================ */
.header__home-wrapper {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 2em;
  font-family: "Dancing Script", cursive; }
  @media only screen and (max-width: 992px) {
    .header__home-wrapper {
      margin-top: 1.7rem; } }

/* blog_home/objects.containers
============================================================================ */
.header__filter-container {
  width: 85%;
  margin: 5rem auto; }
  @media only screen and (max-width: 1200px) {
    .header__filter-container {
      width: 88%;
      margin: 4.5rem auto; } }
  @media only screen and (max-width: 992px) {
    .header__filter-container {
      margin: 4rem auto; } }
  @media only screen and (max-width: 768px) {
    .header__filter-container {
      width: 95%;
      margin: 3.5rem auto; } }
  @media only screen and (max-width: 480px) {
    .header__filter-container {
      margin: 0 auto 2.5rem auto;
      width: 80%; } }

/* blog_home/objects.wrappers
============================================================================ */
.listing__header-wrapper {
  margin-bottom: 6rem;
  text-align: center;
  font-size: 3em;
  font-family: "Dancing Script", cursive; }
  @media only screen and (max-width: 1200px) {
    .listing__header-wrapper {
      font-size: 2.55em; } }
  @media only screen and (max-width: 992px) {
    .listing__header-wrapper {
      font-size: 2.05em; } }

.listing__post__title-wrapper {
  text-align: center; }

/* blog/components.sidebar
============================================================================ */
.header {
  position: fixed;
  left: 0;
  width: 26rem;
  height: 100vh;
  background: url(../media/blog_sidebg.png);
  border-right: 1px solid #e6e6e6;
  overflow-y: auto; }
  @media only screen and (max-width: 1200px) {
    .header {
      width: 22rem; } }
  @media only screen and (max-width: 992px) {
    .header {
      width: 20rem;
      font-size: 0.9em; } }
  @media only screen and (max-width: 768px) {
    .header {
      width: 18rem;
      font-size: 0.85em; } }
  @media only screen and (max-width: 480px) {
    .header {
      position: relative;
      width: 100%;
      height: auto;
      border: none; } }
  .header::-webkit-scrollbar {
    width: 10px;
    background-color: #282828; }
  .header::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.9); }
  .header::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px #969696; }

.header__home {
  -webkit-transition: all 0.15s linear;
          transition: all 0.15s linear;
  color: #ebebeb; }
  @media only screen and (max-width: 480px) {
    .header__home {
      letter-spacing: 2px;
      font-size: 1.2em; } }
  .header__home:hover {
    text-shadow: 0 0 4px white;
    color: white; }

.header__pic {
  display: block;
  width: 140px;
  height: 140px;
  margin: 2.5rem auto;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media only screen and (max-width: 992px) {
    .header__pic {
      width: 125px;
      height: 125px;
      margin: 2rem auto; } }
  @media only screen and (max-width: 480px) {
    .header__pic {
      display: inline-block;
      margin-left: 2.5rem; } }

@media only screen and (max-width: 480px) {
  .header__social-container {
    display: inline-block;
    min-width: 45%;
    float: right;
    margin-right: 2.5rem;
    margin-top: 2rem; } }

.header__social {
  display: block;
  position: relative;
  width: 75%;
  margin: 0.5rem auto;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #272727;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0.3rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.12);
  color: #c8c8c8; }
  @media only screen and (max-width: 1200px) {
    .header__social {
      width: 80%; } }
  @media only screen and (max-width: 768px) {
    .header__social {
      width: 90%; } }
  @media only screen and (max-width: 480px) {
    .header__social {
      width: 100%;
      margin: 0.7rem auto; } }

.header__social__text {
  float: right;
  width: 55%;
  margin-top: 0.1rem;
  padding-right: 1rem;
  text-align: left; }
  @media only screen and (max-width: 992px) {
    .header__social__text {
      margin-top: 0.2rem; } }

.header__social__icon {
  float: right;
  width: 24px;
  height: 24px;
  margin-right: 2.5rem;
  -webkit-transform: scale(0.8, 0.8);
      -ms-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  opacity: 0.95; }
  @media only screen and (max-width: 992px) {
    .header__social__icon {
      -webkit-transform: scale(0.72, 0.72);
          -ms-transform: scale(0.72, 0.72);
              transform: scale(0.72, 0.72); } }
  @media only screen and (max-width: 768px) {
    .header__social__icon {
      -webkit-transform: scale(0.68, 0.68);
          -ms-transform: scale(0.68, 0.68);
              transform: scale(0.68, 0.68); } }

/* blog_home/components.header-filters
============================================================================ */
.header__filter__link {
  display: block;
  width: 96%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin: 1rem 0 1rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 40, 40, 0.7)), to(rgba(25, 25, 25, 0.7)));
  background: -webkit-linear-gradient(rgba(40, 40, 40, 0.7), rgba(25, 25, 25, 0.7));
  background: linear-gradient(rgba(40, 40, 40, 0.7), rgba(25, 25, 25, 0.7));
  color: #e1e1e1; }
  .header__filter__link:after {
    content: '';
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    border-right: 1.6rem solid #353535;
    border-bottom: 1.6rem solid transparent;
    background-color: transparent; }
  .header__filter__link:before {
    content: '';
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    border-bottom: 1.6rem solid #363636;
    border-left: 1.6rem solid transparent;
    background-color: transparent; }
  .header__filter__link:hover {
    color: white; }
    .header__filter__link:hover .header__filter__link__fill {
      width: 100%; }
      @media only screen and (max-device-width: 1450px) {
        .header__filter__link:hover .header__filter__link__fill {
          width: 0; } }

.header__filter__link__text {
  z-index: 2; }

.header__filter__link__fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: width 0.15s linear;
          transition: width 0.15s linear; }

.header__filter__link__fill--all {
  background: -webkit-gradient(linear, left top, left bottom, from(#0f0f0f), to(black));
  background: -webkit-linear-gradient(#0f0f0f, black);
  background: linear-gradient(#0f0f0f, black); }

.header__filter__link__fill--life {
  background: -webkit-gradient(linear, left top, left bottom, from(#e52000), to(#ab1800));
  background: -webkit-linear-gradient(#e52000, #ab1800);
  background: linear-gradient(#e52000, #ab1800); }

.header__filter__link__fill--music {
  background: -webkit-gradient(linear, left top, left bottom, from(#7800ac), to(#5a0086));
  background: -webkit-linear-gradient(#7800ac, #5a0086);
  background: linear-gradient(#7800ac, #5a0086); }

.header__filter__link__fill--web {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000c5), to(#00008c));
  background: -webkit-linear-gradient(#0000c5, #00008c);
  background: linear-gradient(#0000c5, #00008c); }

/* blog_home/components.listing
============================================================================ */
.listing {
  max-width: 96rem;
  margin: 0 auto;
  border: 0 1px 1px 1px solid #e1e1e1;
  padding: 3rem 10rem;
  background-color: white;
  letter-spacing: 0.4px; }
  @media only screen and (max-width: 1450px) {
    .listing {
      max-width: 88rem;
      padding: 3rem 6rem; } }
  @media only screen and (max-width: 1200px) {
    .listing {
      max-width: 82rem;
      border: none;
      padding: 3rem; } }
  @media only screen and (max-width: 992px) {
    .listing {
      padding: 3rem 2rem; } }
  @media only screen and (max-width: 768px) {
    .listing {
      font-size: 0.95em; } }
  @media only screen and (max-width: 480px) {
    .listing {
      padding: 2rem; } }

.listing__header {
  display: inline-block; }
  @media only screen and (max-width: 480px) {
    .listing__header {
      font-size: 1.1em; } }
  .listing__header:before, .listing__header:after {
    content: '';
    display: block;
    position: absolute;
    width: 98.5%;
    height: 3px; }
  .listing__header:before {
    bottom: 0.4rem;
    left: 0; }
    @media only screen and (max-width: 992px) {
      .listing__header:before {
        bottom: 0.2rem; } }
  .listing__header:after {
    right: 0;
    bottom: -0.5rem; }
    @media only screen and (max-width: 992px) {
      .listing__header:after {
        bottom: -0.4rem; } }

.listing__post {
  margin: 5rem 0; }

.listing__post__title {
  letter-spacing: 1.5px;
  color: #191919; }

.listing__post__info {
  margin-top: 0.3rem;
  text-align: center;
  font-weight: 400;
  color: #323232; }

.listing__post__summary {
  margin-top: 1.5rem; }

.listing__temporary {
  margin: 3rem 0;
  line-height: 1.35;
  width: 100%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin: 2.2rem 0;
  padding: 1.4rem 1rem 1.1rem 1.9rem;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #f0c8c8;
  background-color: #ffd0d0; }
  .listing__temporary:before {
    display: block;
    margin-bottom: 0.7rem;
    text-shadow: 1px 1px 1px black;
    content: 'Sorry things are a little bare!'; }
  .listing__temporary:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 2.5rem solid white;
    border-right: 2.5rem solid transparent;
    background-color: transparent; }

/* blog/components.footer
============================================================================ */
.footer {
  z-index: 10;
  height: 3.5rem;
  margin-left: 25.9rem;
  border-top: 1px solid #dedede;
  line-height: 3.2rem;
  background-color: #e6e6e6; }
  @media only screen and (max-width: 1200px) {
    .footer {
      margin-left: 21.9rem; } }
  @media only screen and (max-width: 992px) {
    .footer {
      margin-left: 19.9rem; } }
  @media only screen and (max-width: 768px) {
    .footer {
      margin-left: 17.9rem; } }
  @media only screen and (max-width: 480px) {
    .footer {
      margin-left: 0; } }

.footer__landing {
  position: absolute;
  left: 0;
  margin: 0 2.5rem;
  color: #5a5a5a; }
  .footer__landing:hover {
    color: black; }

.footer__copyright {
  position: absolute;
  right: 0;
  margin: 0 2.5rem;
  color: #7d7d7d; }

/* blog/trumps.js-classes
============================================================================ */
.header__social.social-show {
  color: white; }

.header__social--twitter.social-show {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #3b6bab;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c9bd6), to(#4279c1));
  background: -webkit-linear-gradient(#4c9bd6, #4279c1);
  background: linear-gradient(#4c9bd6, #4279c1); }

.header__social--github.social-show {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.95)), to(rgba(0, 0, 0, 0.95)));
  background: -webkit-linear-gradient(rgba(25, 25, 25, 0.95), rgba(0, 0, 0, 0.95));
  background: linear-gradient(rgba(25, 25, 25, 0.95), rgba(0, 0, 0, 0.95)); }

.header__social--linkedin.social-show {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #0b486a;
  background: -webkit-gradient(linear, left top, left bottom, from(#1879a9), to(#0d5075));
  background: -webkit-linear-gradient(#1879a9, #0d5075);
  background: linear-gradient(#1879a9, #0d5075); }

/* blog_home/js-classes
============================================================================ */
.current-category .header__filter__link__fill {
  width: 100% !important; }

.current-category .header__filter__link__text {
  color: white !important; }

.listing__header.all:before, .listing__header.all:after {
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(40%, rgba(0, 0, 0, 0.9)), color-stop(80%, rgba(0, 0, 0, 0.7)), color-stop(90%, rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.2)));
  background: -webkit-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.45) 90%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.45) 90%, rgba(0, 0, 0, 0.2) 100%); }

.listing__header.life:before, .listing__header.life:after {
  background: -webkit-gradient(linear, left top, right top, from(#bc1a00), color-stop(40%, rgba(188, 26, 0, 0.9)), color-stop(80%, rgba(188, 26, 0, 0.7)), color-stop(90%, rgba(188, 26, 0, 0.45)), to(rgba(188, 26, 0, 0.2)));
  background: -webkit-linear-gradient(left, #bc1a00 0%, rgba(188, 26, 0, 0.9) 40%, rgba(188, 26, 0, 0.7) 80%, rgba(188, 26, 0, 0.45) 90%, rgba(188, 26, 0, 0.2) 100%);
  background: linear-gradient(to right, #bc1a00 0%, rgba(188, 26, 0, 0.9) 40%, rgba(188, 26, 0, 0.7) 80%, rgba(188, 26, 0, 0.45) 90%, rgba(188, 26, 0, 0.2) 100%); }

.listing__header.music:before, .listing__header.music:after {
  background: -webkit-gradient(linear, left top, right top, from(#7800ac), color-stop(40%, rgba(120, 0, 172, 0.9)), color-stop(80%, rgba(120, 0, 172, 0.7)), color-stop(90%, rgba(120, 0, 172, 0.45)), to(rgba(120, 0, 172, 0.2)));
  background: -webkit-linear-gradient(left, #7800ac 0%, rgba(120, 0, 172, 0.9) 40%, rgba(120, 0, 172, 0.7) 80%, rgba(120, 0, 172, 0.45) 90%, rgba(120, 0, 172, 0.2) 100%);
  background: linear-gradient(to right, #7800ac 0%, rgba(120, 0, 172, 0.9) 40%, rgba(120, 0, 172, 0.7) 80%, rgba(120, 0, 172, 0.45) 90%, rgba(120, 0, 172, 0.2) 100%); }

.listing__header.web:before, .listing__header.web:after {
  background: -webkit-gradient(linear, left top, right top, from(#0000c5), color-stop(40%, rgba(0, 0, 197, 0.9)), color-stop(80%, rgba(0, 0, 197, 0.7)), color-stop(90%, rgba(0, 0, 197, 0.45)), to(rgba(0, 0, 197, 0.2)));
  background: -webkit-linear-gradient(left, #0000c5 0%, rgba(0, 0, 197, 0.9) 40%, rgba(0, 0, 197, 0.7) 80%, rgba(0, 0, 197, 0.45) 90%, rgba(0, 0, 197, 0.2) 100%);
  background: linear-gradient(to right, #0000c5 0%, rgba(0, 0, 197, 0.9) 40%, rgba(0, 0, 197, 0.7) 80%, rgba(0, 0, 197, 0.45) 90%, rgba(0, 0, 197, 0.2) 100%); }
