/* modules/variables
 =========================================================================== 
 =========================================================================== */
/* partials/reset
============================================================================ 
============================================================================ */
/* Global
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */ }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer,
header,
main,
menu,
nav,
section {
  display: block; }

/* Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a {
  background-color: transparent;
  /* 1 */ }
  a a:active,
  a a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
b,
strong {
  font-weight: bold; }

/* Embedded content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
img {
  border: 0; }

/* Grouping content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/* Forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
button,
input,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

/* partials/global
============================================================================ 
============================================================================ */
*::-moz-selection {
  background: #b2dbff;
  color: black; }
*::selection {
  background: #b2dbff;
  color: black; }

html {
  font-family: arial;
  font-size: 62.5%; }

body {
  width: 100%;
  height: 100%; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

button:hover {
  cursor: pointer; }

/* Clear-fix
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* partials/blog_post
============================================================================ 
============================================================================ */
