/* blog_home
============================================================================
============================================================================ */
/* generic.normalize-resets (https://github.com/necolas/normalize.css/)
============================================================================ */
/* Global
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }
  *::-moz-selection {
    background: #b2dbff;
    color: black; }
  *::selection {
    background: #b2dbff;
    color: black; }

/*
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  font-size: 62.5%; }

/*
 * Inherit to prevent messing with other libraries
 */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Correct `block` display not defined for-- 
 *  --any HTML5 element in IE 8/9
 *  --`details` or `summary` in IE 10/11 and Firefox.
 *  --`main` in IE 11.
 */
nav, menu, header, main, section, footer {
  display: block; }

/* Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 */
a {
  background-color: transparent;
  /* 1 */ }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/* Embedded content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/* Grouping content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -moz-box-sizing: content-box;
  height: 0; }

/* Forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited. 
 */
button, input, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. 
 */
button, select {
  text-transform: none; }

/* Custom
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

/* Clear-fix
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* base.scrollbar
============================================================================ */
html::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; }

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); }

html::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.45); }

/* base.text
============================================================================ */
body {
  font-size: 1.8em;
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1.1px;
  font-family: "Oswald", sans-serif; }

/* objects.containers
============================================================================ */
.header-container {
  position: fixed;
  left: 0;
  width: 26rem;
  height: 100vh;
  background: url(../media/blog_sidebg.png);
  border-right: 1px solid #e6e6e6; }
  @media only screen and (max-width: 1200px) {
    .header-container {
      width: 22rem; } }
  @media only screen and (max-width: 992px) {
    .header-container {
      width: 20rem;
      font-size: 0.9em; } }
  @media only screen and (max-width: 768px) {
    .header-container {
      width: 18rem;
      font-size: 0.85em; } }

/* objects.wrappers
============================================================================ */
.header__home-wrapper {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 2em;
  font-family: "Dancing Script", cursive; }
  @media only screen and (max-width: 992px) {
    .header__home-wrapper {
      margin-top: 1.7rem; } }

/* components.sidebar
============================================================================ */
.header__home {
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  color: #ebebeb; }
  .header__home:hover {
    text-shadow: 0 0 4px white;
    color: white; }

.header__pic {
  display: block;
  width: 125px;
  height: 125px;
  margin: 2.5rem auto;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media only screen and (max-width: 992px) {
    .header__pic {
      width: 115px;
      height: 115px;
      margin: 2rem auto; } }
  @media only screen and (max-width: 992px) {
    .header__pic {
      width: 105px;
      height: 105px; } }

.header__social {
  display: block;
  position: relative;
  width: 75%;
  margin: 0.5rem auto;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #272727;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0.3rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.12);
  color: #c8c8c8; }
  @media only screen and (max-width: 1200px) {
    .header__social {
      width: 80%; } }
  @media only screen and (max-width: 768px) {
    .header__social {
      width: 90%; } }

.header__social__text {
  float: right;
  width: 55%;
  margin-top: 0.1rem;
  padding-right: 1rem;
  text-align: left; }
  @media only screen and (max-width: 992px) {
    .header__social__text {
      margin-top: 0.2rem; } }

.header__social__icon {
  float: right;
  width: 24px;
  height: 24px;
  margin-right: 2.5rem;
  -webkit-transform: scale(0.8, 0.8);
      -ms-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  opacity: 0.95; }
  @media only screen and (max-width: 992px) {
    .header__social__icon {
      -webkit-transform: scale(0.72, 0.72);
          -ms-transform: scale(0.72, 0.72);
              transform: scale(0.72, 0.72); } }
  @media only screen and (max-width: 768px) {
    .header__social__icon {
      -webkit-transform: scale(0.68, 0.68);
          -ms-transform: scale(0.68, 0.68);
              transform: scale(0.68, 0.68); } }

.header__scroll {
  display: block;
  margin-bottom: 1rem;
  padding: 0 0.7rem;
  -webkit-transition: color 0.07s ease-in-out;
          transition: color 0.07s ease-in-out;
  font-size: 0.9em;
  color: #969696; }
  .header__scroll:first-child {
    padding: 1rem 0.7rem 0 0.7rem; }
  .header__scroll:last-child {
    margin-bottom: 0;
    padding: 0 0.7rem 1rem 0.7rem; }
  .header__scroll:hover {
    color: #dedede; }

/* components.content
============================================================================ */
.content {
  margin-left: 26rem;
  padding: 0 2.5rem;
  background-color: #f0f0f0; }
  @media only screen and (max-width: 1200px) {
    .content {
      margin-left: 22rem;
      padding: 0;
      background-color: white; } }
  @media only screen and (max-width: 992px) {
    .content {
      margin-left: 20rem; } }
  @media only screen and (max-width: 768px) {
    .content {
      margin-left: 18rem; } }

/* components.footer
============================================================================ */
footer {
  display: none;
  height: 5rem;
  margin-left: 26rem;
  background-color: black; }

/* trumps.js-classes
============================================================================ */
.header__social.social-show {
  color: white; }

.header__social--twitter.social-show {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #3b6bab;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c9bd6), to(#4279c1));
  background: -webkit-linear-gradient(#4c9bd6, #4279c1);
  background: linear-gradient(#4c9bd6, #4279c1); }

.header__social--github.social-show {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.95)), to(rgba(0, 0, 0, 0.95)));
  background: -webkit-linear-gradient(rgba(25, 25, 25, 0.95), rgba(0, 0, 0, 0.95));
  background: linear-gradient(rgba(25, 25, 25, 0.95), rgba(0, 0, 0, 0.95)); }

.header__social--linkedin.social-show {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #0b486a;
  background: -webkit-gradient(linear, left top, left bottom, from(#1879a9), to(#0d5075));
  background: -webkit-linear-gradient(#1879a9, #0d5075);
  background: linear-gradient(#1879a9, #0d5075); }

.side__scroll.current-section {
  color: white; }
