/* blog_post
============================================================================
============================================================================ */
/* generic.normalize-resets (https://github.com/necolas/normalize.css/)
============================================================================ */
/* Global
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }
  *::-moz-selection {
    background: #b2dbff;
    color: black; }
  *::selection {
    background: #b2dbff;
    color: black; }

/*
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  font-size: 62.5%;
  height: 100%; }

/*
 * Inherit to prevent messing with other libraries
 */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Correct `block` display not defined for-- 
 *  --any HTML5 element in IE 8/9
 *  --`details` or `summary` in IE 10/11 and Firefox.
 *  --`main` in IE 11.
 */
nav, menu, header, main, section, footer {
  display: block; }

/* Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 */
a {
  background-color: transparent;
  /* 1 */ }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/* Embedded content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/* Forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited. 
 */
button, input, select {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. 
 */
button, select {
  text-transform: none; }

/* Custom
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  height: 100%; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

/* Clear-fix
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* blog/elements.scrollbar
============================================================================ */
html::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; }

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); }

html::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.45); }

/* blog/elements.body
============================================================================ */
body {
  font-size: 1.8em;
  font-family: "Lato", sans-serif;
  background-color: #fafafa; }

/* blog/elements.headings
============================================================================ */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1.1px;
  font-family: "Oswald", sans-serif; }

/* blog/objects.blocks
============================================================================ */
.header {
  position: fixed;
  left: 0;
  width: 26rem;
  height: 100vh;
  border-right: 1px solid #e6e6e6;
  overflow-y: auto;
  background: url(../media/blog_sidebg.png); }
  @media only screen and (max-width: 1200px) {
    .header {
      width: 22rem; } }
  @media only screen and (max-width: 992px) {
    .header {
      width: 20rem;
      font-size: 0.9em; } }
  @media only screen and (max-width: 768px) {
    .header {
      width: 18rem;
      font-size: 0.85em; } }
  @media only screen and (max-width: 480px) {
    .header {
      position: relative;
      width: 100%;
      height: auto;
      border: none; } }
  .header::-webkit-scrollbar {
    width: 10px;
    background-color: #282828; }
  .header::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.9); }
  .header::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px #969696; }

.content-wrapper {
  min-height: 100%;
  margin-bottom: -3.5rem;
  margin-left: 26rem;
  padding: 0 2.5rem 2.5rem 2.5rem;
  background-color: #e6e6e6; }
  @media only screen and (max-width: 1200px) {
    .content-wrapper {
      margin-left: 22rem;
      padding: 0;
      background-color: white; } }
  @media only screen and (max-width: 992px) {
    .content-wrapper {
      margin-left: 20rem; } }
  @media only screen and (max-width: 768px) {
    .content-wrapper {
      margin-left: 18rem; } }
  @media only screen and (max-width: 480px) {
    .content-wrapper {
      margin-left: 0; } }
  .content-wrapper:after {
    content: '';
    display: block;
    height: 3.5rem; }

.content {
  max-width: 96rem;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
  border-top: 0;
  padding: 3rem 10rem;
  background-color: white;
  letter-spacing: 0.4px; }
  @media only screen and (max-width: 1450px) {
    .content {
      max-width: 88rem;
      padding: 3rem 6rem; } }
  @media only screen and (max-width: 1200px) {
    .content {
      max-width: 82rem;
      border: none;
      padding: 3rem; } }
  @media only screen and (max-width: 992px) {
    .content {
      padding: 3rem 2rem; } }
  @media only screen and (max-width: 768px) {
    .content {
      font-size: 0.95em; } }
  @media only screen and (max-width: 480px) {
    .content {
      padding: 2rem; } }

.footer {
  z-index: 10;
  height: 3.5rem;
  margin-left: 25.9rem;
  border-top: 1px solid #dedede;
  line-height: 3.2rem;
  background-color: #e6e6e6; }
  @media only screen and (max-width: 1200px) {
    .footer {
      margin-left: 21.9rem; } }
  @media only screen and (max-width: 992px) {
    .footer {
      margin-left: 19.9rem; } }
  @media only screen and (max-width: 768px) {
    .footer {
      margin-left: 17.9rem; } }
  @media only screen and (max-width: 480px) {
    .footer {
      margin-left: 0; } }

/* blog/components.header-home
============================================================================ */
.header__home-wrapper {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 2em;
  font-family: "Dancing Script", cursive; }
  @media only screen and (max-width: 992px) {
    .header__home-wrapper {
      margin-top: 1.7rem; } }

.header__home {
  -webkit-transition: all 0.15s linear;
          transition: all 0.15s linear;
  color: #ebebeb; }
  @media only screen and (max-width: 480px) {
    .header__home {
      letter-spacing: 2px;
      font-size: 1.2em; } }

/* blog/components.header-pic
============================================================================ */
.header__pic {
  display: block;
  width: 140px;
  height: 140px;
  margin: 2.5rem auto;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media only screen and (max-width: 992px) {
    .header__pic {
      width: 125px;
      height: 125px;
      margin: 2rem auto; } }
  @media only screen and (max-width: 480px) {
    .header__pic {
      display: inline-block;
      margin-left: 2.5rem; } }

/* blog/components.header-social
============================================================================ */
@media only screen and (max-width: 480px) {
  .header__social-container {
    display: inline-block;
    float: right;
    min-width: 45%;
    margin-right: 2.5rem;
    margin-top: 2rem; } }

.header__social-btn {
  display: block;
  position: relative;
  width: 75%;
  margin: 0.5rem auto;
  border: 1px solid #272727;
  border-top: 0;
  border-left: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0.3rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.12);
  color: #c8c8c8; }
  @media only screen and (max-width: 1200px) {
    .header__social-btn {
      width: 80%; } }
  @media only screen and (max-width: 768px) {
    .header__social-btn {
      width: 90%; } }
  @media only screen and (max-width: 480px) {
    .header__social-btn {
      width: 100%;
      margin: 0.7rem auto; } }

.header__social-text {
  float: right;
  width: 55%;
  margin-top: 0.1rem;
  padding-right: 1rem;
  text-align: left; }
  @media only screen and (max-width: 992px) {
    .header__social-text {
      margin-top: 0.2rem; } }

.header__social-icon {
  float: right;
  width: 24px;
  height: 24px;
  margin-right: 2.5rem;
  -webkit-transform: scale(0.8, 0.8);
      -ms-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  opacity: 0.95; }
  @media only screen and (max-width: 992px) {
    .header__social-icon {
      -webkit-transform: scale(0.72, 0.72);
          -ms-transform: scale(0.72, 0.72);
              transform: scale(0.72, 0.72); } }
  @media only screen and (max-width: 768px) {
    .header__social-icon {
      -webkit-transform: scale(0.68, 0.68);
          -ms-transform: scale(0.68, 0.68);
              transform: scale(0.68, 0.68); } }

/* blog_post/components.header-scroll
============================================================================ */
.header__scroll-container {
  left: -0.1rem;
  width: 90%;
  max-height: 35%;
  margin: 3.5rem auto 4rem auto;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #282828;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  overflow-y: auto;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  background-color: rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 992px) {
    .header__scroll-container {
      margin: 2rem auto; } }
  @media only screen and (max-width: 768px) {
    .header__scroll-container {
      width: 94%; } }
  @media only screen and (max-width: 480px) {
    .header__scroll-container {
      display: none; } }
  .header__scroll-container:hover {
    border-color: #1e1e1e;
    background-color: #242424; }
    @media only screen and (max-device-width: 1450px) {
      .header__scroll-container:hover {
        border-color: #282828;
        background-color: rgba(0, 0, 0, 0.15); } }
  .header__scroll-container::-webkit-scrollbar {
    width: 0.9rem; }
    @media only screen and (max-width: 992px) {
      .header__scroll-container::-webkit-scrollbar {
        width: 0.8rem; } }
  .header__scroll-container::-webkit-scrollbar-track {
    -webkit-border-radius: 0 7px 7px 0;
            border-radius: 0 7px 7px 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .header__scroll-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0 7px 7px 0;
            border-radius: 0 7px 7px 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); }

.header__scroll {
  display: block;
  margin-bottom: 1rem;
  padding: 0 0.7rem;
  -webkit-transition: color 0.07s ease-in-out;
          transition: color 0.07s ease-in-out;
  font-size: 0.9em;
  color: #969696; }
  .header__scroll:first-child {
    padding: 1rem 0.7rem 0 0.7rem; }
  .header__scroll:last-child {
    margin-bottom: 0;
    padding: 0 0.7rem 1rem 0.7rem; }
  .header__scroll:hover {
    color: #dedede; }

/* blog_post/components.post-header
============================================================================ */
.post__title {
  text-align: center; }

.post__info {
  text-align: center;
  font-weight: 400;
  color: #5a5a5a; }

.post__quicklinks-container {
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 55rem;
  margin: 4rem 0 2rem 0;
  border: 1px solid #ebebeb;
  border-top: 0;
  border-left: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 2rem 6% 2.2rem 6%;
  font-size: 1.05em;
  background-color: whitesmoke; }

.post__quicklinks-text {
  margin-bottom: 1.1rem; }

.post__quicklinks {
  margin-left: 1rem; }

/* blog_post/components.post-content
============================================================================ */
.post__summary-container {
  margin: 2.5rem 0 4rem; }

.post__summary {
  margin: 1.8rem 0;
  line-height: 1.35; }

.post__section {
  margin-bottom: 7rem; }
  .post__section p {
    margin: 2.5rem 0;
    line-height: 1.35; }
  .post__section .new, .post__section .btw {
    width: 100%;
    border-right: 1px solid;
    border-bottom: 1px solid;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 1.4rem 1rem 1.1rem 1.9rem; }
    .post__section .new:before, .post__section .btw:before {
      display: block;
      margin-bottom: 0.7rem;
      text-shadow: 1px 1px 1px black; }
    .post__section .new:after, .post__section .btw:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-top: 2.5rem solid white;
      border-right: 2.5rem solid transparent;
      background-color: transparent; }
  .post__section .new {
    border-color: rgba(200, 230, 240, 0.25);
    background-color: rgba(208, 239, 255, 0.6); }
    .post__section .new:before {
      content: 'Beginner Tip!'; }
  .post__section .btw {
    border-color: rgba(240, 200, 200, 0.25);
    background-color: rgba(255, 208, 208, 0.5); }
  .post__section pre {
    margin: 2.2rem 0;
    padding: 3rem 2rem; }
    .post__section pre > code {
      font-size: 1.1em; }
      .post__section pre > code::-moz-selection {
        color: white; }
      .post__section pre > code::selection {
        color: white; }
  .post__section:last-child {
    margin-bottom: 0;
    padding-bottom: 5rem; }
  .post__section .inline {
    padding: 0.1rem 0.2rem 0 0.2rem;
    font-size: 1.1em;
    background-color: #dedede; }

.post__section-header {
  margin-bottom: 2.2rem;
  padding-top: 2rem;
  letter-spacing: 1.3px; }

/* blog_post/components.code
============================================================================ */
/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+bash+json+python+jsx+scss+sql&plugins=line-numbers+remove-initial-line-feed */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 2rem 0;
  overflow: auto;
  -webkit-border-radius: 0.3em;
          border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  -webkit-border-radius: .3em;
          border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

/* blog/components.footer
============================================================================ */
.footer__landing {
  position: absolute;
  left: 0;
  margin: 0 2.5rem;
  color: #5a5a5a; }
  .footer__landing:hover {
    color: black; }

.footer__copyright {
  position: absolute;
  right: 0;
  margin: 0 2.5rem;
  color: #7d7d7d; }

/* blog/trumps.social-btns
============================================================================ */
.header__social-btn.hovered {
  color: white; }
  .header__social-btn.hovered.header__social-btn--twitter {
    border: 1px solid #3b6bab;
    border-top: 0;
    border-left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#4c9bd6), to(#4279c1));
    background: -webkit-linear-gradient(#4c9bd6, #4279c1);
    background: linear-gradient(#4c9bd6, #4279c1); }
  .header__social-btn.hovered.header__social-btn--github {
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.95)), to(rgba(0, 0, 0, 0.95)));
    background: -webkit-linear-gradient(rgba(25, 25, 25, 0.95), rgba(0, 0, 0, 0.95));
    background: linear-gradient(rgba(25, 25, 25, 0.95), rgba(0, 0, 0, 0.95)); }
  .header__social-btn.hovered.header__social-btn--linkedin {
    border: 1px solid #0b486a;
    border-top: 0;
    border-left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#1879a9), to(#0d5075));
    background: -webkit-linear-gradient(#1879a9, #0d5075);
    background: linear-gradient(#1879a9, #0d5075); }

/* blog_post/trumps.all
============================================================================ */
.header__home.hovered {
  text-shadow: 0 0 4px white !important;
  color: white !important; }

.header__scroll.current-section {
  color: white !important; }

.text-link {
  border-bottom: 1px dashed #969696 !important; }
  .text-link.hovered {
    border-bottom: 1px dashed black !important; }

#to-top {
  display: none;
  position: fixed;
  right: 3%;
  bottom: 3.7rem;
  margin: 0;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #232323;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  opacity: 0.25;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  z-index: 10; }
  #to-top.hovered {
    opacity: 1;
    border-color: #252525; }
