/* modules/variables
 =========================================================================== 
 =========================================================================== */
/* partials/reset
============================================================================ 
============================================================================ */
/* Global
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */ }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer,
header,
main,
menu,
nav,
section {
  display: block; }

/* Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a {
  background-color: transparent;
  /* 1 */ }
  a a:active,
  a a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
b,
strong {
  font-weight: bold; }

/* Embedded content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
img {
  border: 0; }

/* Grouping content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/* Forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
button,
input,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

/* partials/global
============================================================================ 
============================================================================ */
*::-moz-selection {
  background: #b2dbff;
  color: black; }
*::selection {
  background: #b2dbff;
  color: black; }

html {
  font-family: arial;
  font-size: 62.5%; }

body {
  width: 100%;
  height: 100%; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

button:hover {
  cursor: pointer; }

/* Clear-fix
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/*partials/index
===============================================================================
=============================================================================*/
html {
  font-family: "EB Garamond", serif;
  background-color: #00060d; }

body {
  max-width: 192rem;
  margin: 0 auto; }

header {
  background: url(../media/ocean_star_winter_1920x1080.jpg) no-repeat top center;
  min-height: 77rem;
  padding-top: 7rem;
  font-size: 2em; }
  @media only screen and (max-width: 1450px) {
    header {
      min-height: 70rem; } }

.quote-outer {
  display: inline-block;
  float: left;
  width: 60%; }

.quote-inner {
  width: 85%;
  margin-left: auto;
  font-size: 4.8em; }
  @media only screen and (max-width: 1450px) {
    .quote-inner {
      width: 89%;
      font-size: 4.2em; } }
  @media only screen and (max-width: 1200px) {
    .quote-inner {
      width: 92%;
      font-size: 3.8em; } }
  @media only screen and (max-width: 1050px) {
    .quote-inner {
      font-size: 3.6em; } }
  @media only screen and (max-width: 480px) {
    .quote-inner {
      font-size: 1.5em; } }

.quote {
  display: inline-block;
  text-align: left;
  font-family: "Dancing Script", cursive;
  color: #fafafa; }

.quote--1 {
  text-indent: 0.6em; }

.quote--2 {
  margin-top: 0.3em; }

.quote--3 {
  margin-top: 1em;
  text-indent: 1.6em;
  color: white; }

.intro-outer {
  float: left;
  width: 40%;
  margin-top: 31.4rem; }

.intro-inner {
  width: 90%;
  margin-right: auto;
  text-align: left;
  font-size: 2em;
  padding-left: 2.3rem; }
  @media only screen and (max-width: 1450px) {
    .intro-inner {
      width: 94%;
      font-size: 1.7em;
      padding-left: 2rem; } }
  @media only screen and (max-width: 1200px) {
    .intro-inner {
      font-size: 1.35em; } }
  @media only screen and (max-width: 1050px) {
    .intro-inner {
      font-size: 1.35em; } }

.intro__text {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8); }

.intro__text--1 {
  text-indent: 0.8em; }

.intro__text--2 {
  text-indent: 0.4em; }

.cta {
  display: block;
  width: 30%;
  margin: 13rem auto 0;
  border-top: 1px solid #193847;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 1rem 0;
  text-align: center;
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  color: #e6e6e6;
  text-shadow: 0 -1px 6px rgba(200, 200, 200, 0.5);
  -webkit-box-shadow: 0 0 7px rgba(0, 62, 92, 0.8);
          box-shadow: 0 0 7px rgba(0, 62, 92, 0.8);
  background: -webkit-linear-gradient(180deg, #002233 0%, #003047 30%, #003047 70%, #002233 100%);
  background: linear-gradient(-90deg, #002233 0%, #003047 30%, #003047 70%, #002233 100%);
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
  .cta:hover {
    border-top: 1px solid #0c2d3d;
    text-shadow: 0 -1px 11px rgba(200, 200, 200, 0.5);
    -webkit-box-shadow: 0 0 7px rgba(2, 79, 117, 0.8);
            box-shadow: 0 0 7px rgba(2, 79, 117, 0.8);
    color: #f0f0f0;
    background: -webkit-gradient(linear, left top, left bottom, from(#002233), to(#003047));
    background: -webkit-linear-gradient(#002233, #003047);
    background: linear-gradient(#002233, #003047); }
  @media only screen and (max-width: 1450px) {
    .cta {
      width: 32.5%;
      margin: 10rem auto 0; } }
  @media only screen and (max-width: 1200px) {
    .cta {
      width: 40%;
      font-size: 1.8em; } }
