/* index
============================================================================
============================================================================ */
/* generic.normalize-resets (https://github.com/necolas/normalize.css/)
============================================================================ */
/* Global
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  position: relative;
  margin: 0;
  padding: 0; }
  *::-moz-selection {
    background: #b2dbff;
    color: black; }
  *::selection {
    background: #b2dbff;
    color: black; }

/*
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  font-size: 62.5%;
  height: 100%; }

/*
 * Inherit to prevent messing with other libraries
 */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* HTML5 display definitions
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Correct `block` display not defined for-- 
 *  --any HTML5 element in IE 8/9
 *  --`details` or `summary` in IE 10/11 and Firefox.
 *  --`main` in IE 11.
 */
nav, menu, header, main, section, footer {
  display: block; }

/* Links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 */
a {
  background-color: transparent;
  /* 1 */ }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/* Embedded content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/* Forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited. 
 */
button, input, select {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. 
 */
button, select {
  text-transform: none; }

/* Custom
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  height: 100%; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

/* Clear-fix
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* elements.body
============================================================================ */
body {
  max-width: 192rem;
  margin: 0 auto;
  font-family: "EB Garamond", serif;
  font-size: 1.6em;
  background-color: #00060d; }

/* objects.blocks
============================================================================ */
.header {
  min-height: 77rem;
  padding-top: 7rem;
  background: url(../media/ocean_star_winter_1920x1080.jpg) no-repeat top center;
  font-size: 1.25em; }
  @media only screen and (max-width: 1450px) {
    .header {
      min-height: 70rem; } }
  @media only screen and (max-width: 992px) {
    .header {
      min-height: 88rem;
      padding-top: 7rem; } }
  @media only screen and (max-width: 768px) {
    .header {
      min-height: 80rem; } }
  @media only screen and (max-width: 480px) {
    .header {
      min-height: 67rem;
      padding-top: 3rem; } }

/* components.header-quote
============================================================================ */
.header__intro__quote-container {
  display: inline-block;
  float: left;
  width: 60%;
  padding-left: 9%;
  font-size: 4.8em; }
  @media only screen and (max-width: 1450px) {
    .header__intro__quote-container {
      padding-left: 6.6%;
      font-size: 4.2em; } }
  @media only screen and (max-width: 1200px) {
    .header__intro__quote-container {
      padding-left: 4.8%;
      font-size: 3.8em; } }
  @media only screen and (max-width: 1050px) {
    .header__intro__quote-container {
      font-size: 3.6em; } }
  @media only screen and (max-width: 992px) {
    .header__intro__quote-container {
      width: 100%;
      float: none;
      padding-right: 0.4em;
      padding-left: 0;
      text-align: center;
      letter-spacing: 5px;
      font-size: 4em; } }
  @media only screen and (max-width: 768px) {
    .header__intro__quote-container {
      font-size: 2.95em;
      letter-spacing: 1px; } }
  @media only screen and (max-width: 480px) {
    .header__intro__quote-container {
      font-size: 2.4em; } }

.header__intro__quote {
  display: inline-block;
  text-align: left;
  font-family: "Dancing Script", cursive;
  color: #fafafa; }

.header__intro__quote--1 {
  text-indent: 0.6em; }

.header__intro__quote--2 {
  margin-top: 0.3em; }
  @media only screen and (max-width: 992px) {
    .header__intro__quote--2 {
      margin-top: 0.1em;
      text-indent: -1.3em; } }

.header__intro__quote--3 {
  margin-top: 1em;
  text-indent: 1.7em;
  color: white; }
  @media only screen and (max-width: 992px) {
    .header__intro__quote--3 {
      margin-top: 0.4em; } }

/* components.header-msg
============================================================================ */
.header__intro__msg-wrapper {
  display: inline-block;
  float: left;
  width: 40%;
  margin-top: 16rem;
  padding-right: 4%;
  padding-left: 2.3rem;
  font-size: 2em; }
  @media only screen and (max-width: 1450px) {
    .header__intro__msg-wrapper {
      margin-top: 14rem;
      padding-right: 2.4%;
      padding-left: 2rem;
      font-size: 1.7em; } }
  @media only screen and (max-width: 1200px) {
    .header__intro__msg-wrapper {
      margin-top: 13rem;
      font-size: 1.35em; } }
  @media only screen and (max-width: 1050px) {
    .header__intro__msg-wrapper {
      margin-top: 12rem;
      font-size: 1.35em; } }
  @media only screen and (max-width: 992px) {
    .header__intro__msg-wrapper {
      width: 100%;
      margin-top: 14rem;
      text-align: center;
      letter-spacing: 0.5px;
      font-size: 1.45em; } }
  @media only screen and (max-width: 768px) {
    .header__intro__msg-wrapper {
      font-size: 1.3em; } }
  @media only screen and (max-width: 480px) {
    .header__intro__msg-wrapper {
      margin-top: 9.5rem;
      font-size: 1.1em; } }

.header__intro__msg {
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75); }

.highlight {
  color: white; }

/* components.header-cta
============================================================================ */
.header__cta {
  display: block;
  width: 30%;
  margin: 13rem auto 0;
  border-top: 1px solid #193847;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 1rem 0;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 7px rgba(0, 62, 92, 0.8);
          box-shadow: 0 0 7px rgba(0, 62, 92, 0.8);
  text-align: center;
  text-shadow: 0 -1px 6px rgba(200, 200, 200, 0.5);
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  color: #e6e6e6;
  background: -webkit-linear-gradient(180deg, #002233 0%, #003047 30%, #003047 70%, #002233 100%);
  background: linear-gradient(-90deg, #002233 0%, #003047 30%, #003047 70%, #002233 100%); }
  .header__cta:hover {
    border-top: 1px solid #0c2d3d;
    -webkit-box-shadow: 0 0 7px rgba(2, 79, 117, 0.8);
            box-shadow: 0 0 7px rgba(2, 79, 117, 0.8);
    text-shadow: 0 -1px 11px rgba(200, 200, 200, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(#002233), to(#003047));
    background: -webkit-linear-gradient(#002233, #003047);
    background: linear-gradient(#002233, #003047);
    color: #f0f0f0; }
  @media only screen and (max-width: 1450px) {
    .header__cta {
      width: 32.5%;
      margin: 10rem auto 5rem auto; } }
  @media only screen and (max-width: 1200px) {
    .header__cta {
      width: 40%;
      font-size: 1.8em; } }
  @media only screen and (max-width: 992px) {
    .header__cta {
      width: 50%;
      margin: 5rem auto; } }
  @media only screen and (max-width: 768px) {
    .header__cta {
      width: 55%; } }
  @media only screen and (max-width: 480px) {
    .header__cta {
      width: 65%;
      margin: 4rem auto; } }
