/* blog_post/objects.containers
============================================================================ */

.header__scroll-container {
  left: -0.1rem;
  width: 90%;
  max-height: 35%;
  margin: 3.5rem auto 4rem auto;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(40, 40, 40);
  border-radius: 7px;
  overflow-y: auto;
  transition: all 0.15s ease-in-out;
  background-color: rgba(0, 0, 0, 0.15);

  @media #{$break-l} {
    margin: 2rem auto;
  }

  @media #{$break-m} {
    width: 94%;
  }

  @media #{$break-s} {
    display: none;
  }

  &:hover {
    border-color: rgb(30, 30, 30);
    background-color: rgb(36, 36, 36);

    @media #{$break-touch} {
      border-color: rgb(40, 40, 40);
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  &::-webkit-scrollbar {
    width: 0.9rem;

    @media #{$break-l} {
      width: 0.8rem;
    }
  }
 
  &::-webkit-scrollbar-track {
    border-radius: 0 7px 7px 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  }
 
  &::-webkit-scrollbar-thumb {
    border-radius: 0 7px 7px 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); 
  }
}