{% extends 'base.html' %}
{% load staticfiles %}


{% block body %}
<header class="header">

  <div class="header__home-wrapper">
    {% block home %}
    <a class="header__home" href="{% url 'blog_home' %}">3 Steps Taken</a>
    {% endblock home %}
  </div> <!-- .header__home-wrapper -->

  <img class="header__pic" src="{% static 'media/self_picture.png' %}" alt="Self Pic">

  <div class="header__social-container">
    <a class="header__social-btn header__social-btn--twitter cf" href="https://twitter.com/stargazin3" target="_blank">
      <span class="header__social-text">Follow!</span>
      <img class="header__social-icon" src="{% static 'media/twitter.png' %}" alt="T">
    </a> <!-- .header__social-btn~twitter -->
    <a class="header__social-btn header__social-btn--github cf" href="https://github.com/stargazin" target="_blank">
      <span class="header__social-text">Browse!</span>
      <img class="header__social-icon" src="{% static 'media/github.png' %}" alt="G">
    </a> <!-- .header__social-btn~github -->
    <a class="header__social-btn header__social-btn--linkedin cf" href="https://www.linkedin.com/in/stargazin" target="_blank">
      <span class="header__social-text">Connect!</span>
      <img class="header__social-icon" src="{% static 'media/linkedin.png' %}" alt="L">
    </a> <!-- .header__social-btn~linkedin -->
  </div> <!-- .header__social-btn~container -->

  {% block nav %}{% endblock nav %}

</header> <!-- header.header -->

<main class="content-wrapper">
{% block content %}{% endblock content %}
</main> <!-- .content-wrapper -->

<footer class="footer">
  <a href="/" class="footer__landing">&larr; Back to Landing</a>
  <div class="footer__copyright">&copy; 3 Steps Taken</div>
</footer> <!-- footer.footer -->
{% endblock body %}