{% extends 'blog/base_blog.html' %}
{% load staticfiles %}


{% block head %}
<title>3 Steps Taken</title>
<link href='https://fonts.googleapis.com/css?family=Lato:400,900|Oswald|Dancing+Script' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/blog_post_v1.1.min.css' %}">
{% endblock head %}


{% block content %}
<!-- - - - - - - - - - - - - - - Post Header - - - - - - - - - - - - - - - -->
<div class="content post">

  <h1 class="post__title"></h1>
  <h5 class="post__info">Post #5 || January 1st, 2016</h5><br><br>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - Post Summary - - - - - - - - - - - - - - - -->
<div class="post__summary-container">
  <h2 class="post__summary-header">Taking the first step</h2>
  <p class="post__summary"></p>
</div>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


<!-- - - - - - - - - - - - - - - Post Content - - - - - - - - - - - - - - - -->
<div class="post__section">
  <h2 class="post__section-header">TEMPORARY_SECTION_HEADING</h2>

<p>TEMPORARY_SECTION_TEXT</p>


</div> <!-- .post__section -->


<div class="post__section">
  <h2 class="post__section-header">TEMPORARY_SECTION_HEADING</h2>

<p>TEMPORARY_SECTION_TEXT</p>


</div> <!-- .post__section -->

<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->



</div> <!-- .content-container.post -->
{% endblock content %}


{% block js %}
<script src="{% static 'js/prism.min.js' %}"></script>
<script src="{% static 'js/blog_post_v1.1.min.js' %}"></script>
{% endblock js %}