{% extends 'blog/base_blog.html' %}
{% load staticfiles %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/blog_home.min.css' %}">
{% endblock css %}


{% block nav %}
<nav class="header__filter-container">
  <a class="header__filter__link header__filter__link" href="#">
    <span class="header__filter__link__text">All</span>
    <div class="header__filter__link__fill header__filter__link__fill--all"></div>
  </a> <!-- .header__filter__link -->
  <a class="header__filter__link header__filter__link" href="#life">
    <span class="header__filter__link__text">Life</span>
    <div class="header__filter__link__fill header__filter__link__fill--life"></div>
  </a> <!-- .header__filter__link -->
  <a class="header__filter__link header__filter__link" href="#music">
    <span class="header__filter__link__text">Music</span>
    <div class="header__filter__link__fill header__filter__link__fill--music"></div>
  </a> <!-- .header__filter__link -->
  <a class="header__filter__link header__filter__link" href="#web">
    <span class="header__filter__link__text">Web</span>
    <div class="header__filter__link__fill header__filter__link__fill--web"></div>
  </a> <!-- .header__filter__link -->
</nav> <!-- nav.header__filter-container -->
{% endblock nav %}


{% block content %}
<main class="listing-container">

  <div class="listing">
    <div class="listing__post">
      <h2 class="listing__post__title-wrapper">
        <a class="listing__post__title" href="post">Vagrant Setup With VirtualBox</a>
      </h2> <!-- h1.listing__post__title-wrapper -->
      <h5 class="listing__post__info">Post #1 || January 18th, 2016</h5>
      <p class="listing__post__summary">This is a temporary filler summary for the post Vagrant Setup With VirtualBox. This summary will later be expanded once I finish setting up the js for scrolling. I just need to fill this with something that takes up vertical height and looks like a temporary summary.</p>
    </div> <!-- .listing__post -->

    <div class="listing__post">
      <h2 class="listing__post__title-wrapper"><a class="listing__post__title"href="#2">Filler Second Post Title</a></h1>
      <h5 class="listing__post__info">Post #2 || January 19th, 2016</h5>
      <p class="listing__post__summary">This is a temporary filler summary for the post Vagrant Setup With VirtualBox. This summary will later be expanded once I finish setting up the js for scrolling. I just need to fill this with something that takes up vertical height and looks like a temporary summary.</p>
    </div> <!-- .listing__post -->

    <div class="listing__post">
      <h2 class="listing__post__title-wrapper"><a class="listing__post__title"href="#3">Filler Third Post Title</a></h1>
      <h5 class="listing__post__info">Post #3 || January 20th, 2016</h5>
      <p class="listing__post__summary">This is a temporary filler summary for the post Vagrant Setup With VirtualBox. This summary will later be expanded once I finish setting up the js for scrolling. I just need to fill this with something that takes up vertical height and looks like a temporary summary.</p>
    </div> <!-- .listing__post -->

    <div class="listing__post">
      <h2 class="listing__post__title-wrapper"><a class="listing__post__title"href="#4">Filler Fourth Post Title</a></h1>
      <h5 class="listing__post__info">Post #4 || January 21th, 2016</h5>
      <p class="listing__post__summary">This is a temporary filler summary for the post Vagrant Setup With VirtualBox. This summary will later be expanded once I finish setting up the js for scrolling. I just need to fill this with something that takes up vertical height and looks like a temporary summary.</p>
    </div> <!-- .listing__post -->

    <div class="listing__post">
      <h2 class="listing__post__title-wrapper"><a class="listing__post__title"href="#5">Filler Fifth Post Title</a></h1>
      <h5 class="listing__post__info">Post #5 || January 22th, 2016</h5>
      <p class="listing__post__summary">This is a temporary filler summary for the post Vagrant Setup With VirtualBox. This summary will later be expanded once I finish setting up the js for scrolling. I just need to fill this with something that takes up vertical height and looks like a temporary summary.</p>
    </div> <!-- .listing__post -->
  </div> <!-- .listing__post_container -->
</main> <!-- main.listing -->
{% endblock content %}


{% block js %}
<script src="{% static 'js/blog_home.js' %}"></script>
{% endblock js %}