{% extends 'blog/base_blog.html' %}
{% load staticfiles %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/blog_home.min.css' %}">
{% endblock css %}


{% block nav %}
<div class="header__scroll-container">
  <a href="#section-1" class="header__scroll">1. Installing some software</a>
  <a href="#section-2" class="header__scroll">2. Preparing the virtual machine</a>
  <a href="#section-3" class="header__scroll">3. Configuring the vagrantfile</a>
  <a href="#section-4" class="header__scroll">4. Getting familiar with the virtual machine</a>
  <a href="#section-5" class="header__scroll">5. Working with Django and Vagrant</a>
  <a href="#section-6" class="header__scroll">6. A few points to keep in mind</a>
</div> <!-- .header__scroll-container -->
{% endblock nav %}


{% block content %}
<main class="content">
  <nav class="content__nav">
    <a class="content__nav__link content__nav__link--life" href="#">Life</a>
    <a class="content__nav__link content__nav__link--music" href="#">Music</a>
    <a class="content__nav__link content__nav__link--web" href="#">Web</a>
  </nav> <!-- nav.content__nav-container -->

  <div class="content__post-container">
    <div class="content__post">
      <h1 class="content__post__title">Vagrant Setup With VirtualBox</h1>
      <h5 class="content__post__info">Post #1 || January 18th, 2016</h5>
      <p class="content__post__summary"></p>
    </div> <!-- .content__post -->

    <div class="content__post">
      <h1 class="content__post__title">Filler Second Post Title</h1>
      <h5 class="content__post__info">Post #2 || January 19th, 2016</h5>
      <p class="content__post__summary"></p>
    </div> <!-- .content__post -->

    <div class="content__post">
      <h1 class="content__post__title">Filler Third Post Title</h1>
      <h5 class="content__post__info">Post #3 || January 20th, 2016</h5>
      <p class="content__post__summary"></p>
    </div> <!-- .content__post -->

    <div class="content__post">
      <h1 class="content__post__title">Filler Fourth Post Title</h1>
      <h5 class="content__post__info">Post #4 || January 21th, 2016</h5>
      <p class="content__post__summary"></p>
    </div> <!-- .content__post -->

    <div class="content__post">
      <h1 class="content__post__title">Filler Fifth Post Title</h1>
      <h5 class="content__post__info">Post #5 || January 22th, 2016</h5>
      <p class="content__post__summary"></p>
    </div> <!-- .content__post -->
  </div> <!-- .content__post_container -->
</main> <!-- main.content -->
{% endblock content %}


{% block js %}
<script src="{% static 'js/blog_home.js' %}"></script>
{% endblock js %}