{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog Post</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900|Oswald' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/blog_post.min.css' %}">
</head>
<body>
<main>

<div class="side-wrapper">
  <div class="side">
  
  </div> <!-- .side -->
</div> <!-- .side-wrapper -->

<div class="post-wrapper">
  <div class="post">

    <h1 class="post__title">Vagrant Setup With VirtualBox</h1>
    <h5 class="post__date">January 18th, 2016</h5>

    <div class="post__breakdown">
      <h2 class="post__breakdown__header">Breakdown and Quicklinks</h2>

      <p class="post__breakdown__short">
        1. <a href="#section-1">Installing the needed software</a>
      </p> <!-- .post__breakdown__short -->
      <div class="post__breakdown__long">
        <span></span>
      </div> <!-- .post__breakdown__long -->

      <p class="post__breakdown__short">
        2. <a href="#section-2">Preparing our virtual machine</a>
      </p> <!-- .post__breakdown__short -->
      <div class="post__breakdown__long">
        <span></span>
      </div> <!-- .post__breakdown__long -->

      <p class="post__breakdown__short">
        3. <a href="#section-3">Configuring our vagrantfile</a>
      </p> <!-- .post__breakdown__short -->
      <div class="post__breakdown__long">
        <span></span>
      </div> <!-- .post__breakdown__long -->

      <p class="post__breakdown__short">
        4. <a href="#section-4">Getting familiar with our virtual machine</a>
      </p> <!-- .post__breakdown__short -->
      <div class="post__breakdown__long">
        <span></span>
      </div> <!-- .post__breakdown__long -->

      <p class="post__breakdown__short">
        5. <a href="#section-5">Working with Django and Vagrant</a>
      </p> <!-- .post__breakdown__short -->
      <div class="post__breakdown__long">
        <span></span>
      </div> <!-- .post__breakdown__long -->

      <p class="post__breakdown__short">
        6. <a href="#section-6">A few tips to keep in mind</a>
      </p> <!-- .post__breakdown__short -->
      <div class="post__breakdown__long">
        <span></span>
      </div> <!-- .post__breakdown__long -->
    </div> <!-- .breakdown -->

    <div class="post__section" id="section-1">
<h2 class="post__section__header">1. Installing the needed software</h2>

<p>Install <a href="http://vagrantup.com">Vagrant</a> and <a href="https://www.virtualbox.org">VirtualBox</a></p>

<p>Choose a <a href="https://vagrantcloud.com">Vagrant box</a>. We'll be using the hashicorp/precise32 box in this example.</p>

<pre><code class="language-bash">
$ vagrant box add hashicorp/precise32
</code></pre>

<p>Now we can create our virtual machine (henceforth VM)!</p>
    </div> <!-- .post__section -->


    <div class="post__section" id="section-2">
<h2 class="post__section__header">2. Preparing our virtual machine</h2>

<p>Make a folder for our Vagrant project.</p>

<pre><code class="language-bash">
$ mkdir practice_folder
$ cd practice_folder
</code></pre>

<p class="newbie">This folder can be located anywhere, but make sure you keep track of which folder we're currently in!</p>

<p>Run the following command to create a VM in our new folder</p>

<pre><code class="language-bash">
#run only once to create our VM; a vagrantfile is also be created
$ vagrant init hashicorp/precise32
#double check to see if the vagrantfile was created
$ ls
</code></pre>

<p>Let's make sure our VM works!</p>

<pre><code class="language-bash">
$ vagrant up
$ vagrant ssh
</code></pre>

<p class="newbie">This is the set of commands we'll use to turn on our VM and get into it.</p>

<p class="tip">If Vagrant is uncooperative, try giving it administrative privileges by going to the VirtualBox application in your Program Files. Right click the applications, go to properties, go under the Security tab, and change permissions by clicking Edit. Also click "Yes" if anything pops up asking for permission when running the VM! If that doesn't work, try setting the compatibility of VirtualBox to Windows 7. Again, go to the properties of the VirtualBox application. Under the Compatibility tab, check the box that says "Run this program in compatibility mode for:" and select Windows 7.<br>(I'm using Windows 8.1 and setting the compatibility mode solved the problems I had!)</p>

<p>We should now be inside our VM, so you should see the following:</p>

<pre><code class="language-bash">
vagrant@precise32:~$
</code></pre>

<p class="newbie">It may not be precise32 if you chose a different vagrant box initially</p>

<p>Let's go ahead and get the newest software and security packages before we make some configuration changes to our vagrantfile</p>

<pre><code class="language-bash">
#download newest packages
vagrant@precise32:~$ sudo apt-get update
#upgrade packages to the newest version
vagrant@precise32:~$ sudo apt-get upgrade
</code></pre>

<p>Run the following command to get out of our VM and back to our own machine!</p>

<pre><code class="language-bash">
vagrant@precise32:~$ exit
</code></pre>
    </div> <!-- .post__section -->


    <div class="post__section" id="section-3">
<h2 class="post__section__header">3. Configuring our vagrantfile</h2>

<p>Open up the vagrantfile with a text editor (even Notepad will work!) and look for this block.</p>

<p class="newbie">In the vagrantfile, the guest machine simply refers to our own machine whereas host refers to the VM.</p>

<pre><code class="language-bash">
  # Create a private network, which allows host-only access to the machine
  # using a specific IP.
  # config.vm.network "private_network", ip: "192.168.33.10"
</code></pre>

<p>Uncomment the last line in that block. This lets us connect to our development environment later using the IP address in that line. Feel free to change the IP address to something easy to remember like 33.33.33.33 !</p>

<pre><code class="language-bash">
  # Create a private network, which allows host-only access to the machine
  # using a specific IP.
   config.vm.network "private_network", ip: "33.33.33.33"
</code></pre>

<p>I also recommend uncommenting the last line of the block prior to the one above and making the changes shown below.</p>

<pre class="line-numbers"><code class="language-bash">
  # Create a forwarded port mapping which allows access to a specific port
  # within the machine from a port on the host machine. In the example below,
  # accessing "localhost:8080" will access port 80 on the guest machine.
   config.vm.network "forwarded_port", guest: 8080, host: 8080

#changes: uncomment line 4 and change "guest:80" to "guest:8080"
</code></pre>

<p class="newbie">This was something I arrived at by playing around with the vagrantfile. I couldn't connect to the VM server through the guest machine unless the guest and host ports specified above were the same. If you have trouble connecting to your development server later, see if this helps you out!</p>

<p>We'll want to reload the VM whenever we make changes to the vagrantfile, but you don't need to run the following command if the VM is powered off when editting the vagrantfile!</p>

<pre><code class="language-bash">
$ vagrant reload
</code></pre>
    </div> <!-- .post__section -->


    <div class="post__section" id="section-4">
<h2 class="post__section__header">4. Getting familiar with our virtual machine</h2>

<p>At this point we've pretty much set up everything we need to start working in our Vagrant VM! In the next section, we'll install some packages for working with Django/Python, but first let's see how we'll be working with Vagrant.</p>

<p>The Vagrant VM works by syncing a folder with a folder on our machine. By default, the folder on our machine is where the vagrantfile is located, and the folder on the VM is also where the vagrantfile is located. This means our vagrantfile is our first file synced between our virtual and own machines. Let's check it out!</p>

<pre><code class="language-bash">
$ vagrant ssh

#you should see this
vagrant@precise32:~$

#change to the /vagrant folder
vagrant@precise32:~$ cd /vagrant
#check for the vagrantfile
vagrant@precise32:/vagrant$ ls
</code></pre>


<p>Open up the vagrantfile with a text editor such as nano (pre-installed).</p>

<pre><code class="language-bash">
vagrant@precise32:/vagrant$ nano vagrantfile
</code></pre>

<p class="newbie">Navigate with your arrow keys to look around the file. Press Ctrl + x if you want to close the file.</p>

<p>The contents of the vagrantfile in the VM is exactly the same as in our machine. Any changes we make to the vagrantfile from either location will result in a synced up vagrantfile! Let's see what happens when we create a file or a folder.</p>

<pre><code class="language-bash">
vagrant@precise32:/vagrant$ mkdir test_folder
#test_folder is in our VM
vagrant@precise32:/vagrant$ ls
vagrant@precise32:/vagrant$ exit

#test_folder is also in our machine!
$ ls
$ rmdir test_folder
#now test_folder is gone
$ ls
$ vagrant ssh

vagrant@precise32:~$ cd /vagrant
#test_folder is gone on the VM too!
vagrant@precise32:/vagrant$ ls
</code></pre>

<p>As we saw in the above examples, changes we make to our files on our machine, the changes will be synced with the VM (and vice versa). We'll be using our VM as the host server for development. Vagrant is great for this because development environments can have very different dependencies. With a VM for each project, we will have exactly what we need for each project's development, and no conflicts between projects to boot!</p>
    </div> <!-- .post__section -->


    <div class="post__section" id="section-5">
<h2 class="post__section__header">5. Working with Django and Vagrant</h2>

<p>Now that we know how we'll be working with the VM, let's get it set up so we can actually start working with it. We'll go ahead and get a virtual environment set up as well as install some packages you'll need to work with Django. If you aren't still in your VM, <code class="inline">vagrant ssh</code> back in.</p>

<p class="newbie">The concept behind a the virtual environment is actually very similar to the VM's. Essentially, we can install packages onto a virtual environment and not have it affect the VM. If we're only using the VM for one project, you can argue that we don't need the virtual environment, but it's good practice to use it. Plus there are some cool things we can do with it (more on this in a future post)!</p>

<pre><code class="language-bash">
vagrant@precise32:~$ sudo apt-get install python-pip

vagrant@precise32:~$ sudo pip install virtualenv
#the wrapper makes working with virtualenv easier
vagrant@precise32:~$ sudo pip install virtualenvwrapper

#show all files (including hidden with -a flag)
vagrant@precise32:~$ ls -a
vagrant@precise32:~$ nano ~/.bashrc

#scroll down and add these following lines to the .bashrc file
#virtualenv
export WORKON_HOME=$HOME/.virtualenvs
source /usr/local/bin/virtualenvwrapper.sh
</code></pre>

<p>These lines tell our system where our virtual environments should be located and where the virtual environment script (which we installed earlier) is located. After making changes to our shell startup file, we'll need to reload the file so our changes take effect.</p>

<pre><code class="language-bash">
vagrant@precise32:~$ source ~/.bashrc
</code></pre>

<p>We now have access to the virtual environment commands, so let's make our virtual environment and play around with it!</p>

<pre><code class="language-bash">
vagrant@precise32:~$ mkvirtualenv practice

#notice how we are on on the virtualenv (practice)
(practice)vagrant@precise32:~$ deactivate
vagrant@precise32:~$ workon practice

#show a list of our virtualenvs
(practice)vagrant@precise32:~$ lsvirtualenv

#deactivate and remove our virtualenv
(practice)vagrant@precise32:~$ deactivate
vagrant@precise32:~$ rmvirtualenv practice

vagrant@precise32:~$ mkvirtualenv play
(play)vagrant@precise32:~$
</code></pre>

<p>Notice how when we make a virtual environment, setuptools, pip, and wheel are installed to that environment. Take a look (make sure you're working on the virtual environment!).</p>

<pre><code class="language-bash">
(play)vagrant@precise32:~$ pip list
</code></pre>

<p>This list of packages will grow as we install more to our virtual environment. Let's install some more packages to get our development environment ready for development!</p>

<pre><code class="language-bash">
#install multiple packages at once by separating each one with a space

(play)vagrant@precise32:~$ sudo apt-get install python-dev libpq-dev postgresql 
postgresql-contrib libjpeg-dev

(play)vagrant@precise32:~$ pip install django psycopg2 Pillow

#check out our new python packages
(play)vagrant@precise32:~$ pip list
</code></pre>

<p class="newbie">I enjoy using postgreSQL for my database, but feel free to play around with other databases!</p>

<p class="newbie">Note that because we are using pip (Python package manager) install while working on our virtual environment, the packages we install will only be useable while working on that virtual environment. If we deactivated our virtual environment and then installed a package with pip, that package would be available globally -- we will have access to that package with or without our virtual environment. Using apt-get will install packages globally, so we don't even have to be working on our virtual environment.</p>

<p>We're almost there. To finish up, let's start a django project so we can start developing (make sure you are on your virtual environment where django is installed)!</p>

<pre><code class="language-bash">
#change to the synced folder
(play)vagrant@precise32:~$ cd /vagrant
(play)vagrant@precise32:/vagrant$ django-admin.py startproject blog
</code></pre>

<p>Now we have our project made and the packages needed to start developing. Happy coding!</p>
    </div> <!-- .post__section -->


    <div class="post__section" id="section-6">
<h2 class="post__section__header">6. A few tips to keep in mind</h2>

<p>Remember to power off your VM when you are finished.</p>

<pre><code class="language-bash">
vagrant@precise32:~$ exit
$ vagrant halt
</code></pre>

<p class="newbie">I've had problems with my VM getting corrupted or something along those lines. I don't know the exact cause, but I believe it happens when I forget to power off my VM. If this happens to you, don't worry! It's much easier to set up a second time because you won't need to install software and configure the vagrantfile.</p>

<p>To remove a VM (whether you don't need it anymore or it's corrupted), use the following command</p>

<pre><code class="language-bash">
$ vagrant destroy
</code></pre>

<p class="newbie">You can also do this manually using the Oracle VM VirtualBox application.</p>

<p>If you are new to Linux, it can be a little intimidating navigating using commands. Here's a helpful command to keep track of where you are in the VM.</p>

<pre><code class="language-bash">
#pwd = print working directory (current folder)
vagrant@precise32:~$ pwd
vagrant@precise32:~$ cd /vagrant
vagrant@precise32:/vagrant$ pwd
</code></pre>

<p class="newbie">Notice how your two results are <code class="inline">/home/vagrant</code> and <code class="inline">/vagrant</code>. These are entirely different vagrant folders!</p>
    </div> <!-- .post__section -->



  </div> <!-- .post -->
</div> <!-- .post-wrapper -->


</main>

<footer></footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/blog_post.js' %}"></script>
<script src="{% static 'js/prism.js' %}"></script>

</body>
</html>