/* blog/components.footer
============================================================================ */

.footer__landing {
  position: absolute;
  left: 0;
  margin: 0 2.5rem;
  color: rgb(90, 90, 90);

  &:hover {
    color: black;
  }
}

.footer__copyright {
  position: absolute;
  right: 0;
  margin: 0 2.5rem;
  color: rgb(125, 125, 125);
}