/* blog/objects.wrappers
============================================================================ */

.header__home-wrapper {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 2em;
  font-family: $dancing-script;

  @media #{$break-l} {
    margin-top: 1.7rem;
  }
}

.content-wrapper {
  min-height: 100%;
  margin-bottom: -3.5rem;
  margin-left: 26rem;
  padding: 0 2.5rem 2.5rem 2.5rem;
  background-color: rgb(230, 230, 230);

  @media #{$break-xl} {
    margin-left: 22rem;
    padding: 0;
    background-color: white;
  }

  @media #{$break-l} {
    margin-left: 20rem;
  }

  @media #{$break-m} {
    margin-left: 18rem;
  }

  @media #{$break-s} {
    margin-left: 0;
  }

  &:after {
    content: '';
    display: block;
    height: 3.5rem;
  }
}