/* trumps.js-classes
============================================================================ */

.header__social.social-show {
  color: white;
}

.header__social--twitter.social-show {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(59, 107, 171);
  background: linear-gradient(
    rgb(76, 155, 214),
    rgb(66, 121, 193));
}

.header__social--github.social-show {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  background: linear-gradient(
    rgba(25, 25, 25, 0.95),
    rgba(0, 0, 0, 0.95));
}

.header__social--linkedin.social-show {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(11, 72, 106);
  background: linear-gradient(
    rgb(24, 121, 169),
    rgb(13, 80, 117));
}


.side__scroll.current-section {
  color: white;
}