/* blog_home/components.header-filters
============================================================================ */

.header__filter-container {
  width: 85%;
  margin: 5rem auto;

  @media #{$break-xl} {
    width: 88%;
    margin: 4.5rem auto;
  }

  @media #{$break-l} {
    margin: 4rem auto;
  }

  @media #{$break-m} {
    width: 95%;
    margin: 3.5rem auto;
  }

  @media #{$break-s} {
    width: 80%;
    margin: 0 auto 2.5rem auto;
  }
}

.header__filter__link {
  display: block;
  width: 96%;
  border-radius: 4px;
  margin: 1rem 0 1rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  background: linear-gradient(rgba(40, 40, 40, 0.7),
    rgba(25, 25, 25, 0.7));
  color: rgb(225, 225, 225);

  &:before, &:after {
    content: '';
    position: absolute;
    z-index: 2;
    right: 0;
    background-color: transparent;
  }

  &:after {
    top: 0;
    border-right: 1.6rem solid rgb(53, 53, 53);
    border-bottom: 1.6rem solid transparent;
  }

  &:before {
    bottom: 0;
    border-bottom: 1.6rem solid rgb(54, 54, 54);
    border-left: 1.6rem solid transparent;
  }
}

.header__filter__link__text {
  z-index: 2;
}

.header__filter__link__fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 4px;
  transition: width 0.15s linear;
}

.header__filter__link__fill--all {
  background: linear-gradient(rgb(15, 15, 15),
    rgb(0, 0, 0));
}

.header__filter__link__fill--life {
  background: linear-gradient(rgb(229, 32, 0),
    rgb(171, 24, 0));
}

.header__filter__link__fill--music {
  background: linear-gradient(rgb(120, 0, 172),
    rgb(90, 0, 134));
}

.header__filter__link__fill--web {
  background: linear-gradient(rgb(0, 0, 197),
    rgb(0, 0, 140));
}