/* blog_home/components.listing-post
============================================================================ */

.listing__post {
  margin: 5rem 0;
}

.listing__post-title-wrapper {
  text-align: center;
}

.listing__post-title {
  letter-spacing: 1.5px;
  color: rgb(25, 25, 25);
}

.listing__post-meta {
  margin-top: 0.3rem;
  text-align: center;
  font-weight: 400;
  color: rgb(50, 50, 50);
}

.listing__post-summary {
  margin-top: 1.5rem;
}