/* blog_home/objects.wrappers
============================================================================ */

.listing__header-wrapper {
  margin-bottom: 6rem;
  text-align: center;
  font-size: 3em;
  font-family: $dancing-script;

  @media #{$break-xl} {
    font-size: 2.55em;
  }

  @media #{$break-l} {
    font-size: 2.05em;
  }
}

.listing__post__title-wrapper {
  text-align: center;
}