/* base.page
============================================================================ */

body {
  max-width: 192rem;
  margin: 0 auto;
  font-family: $eb-garamond;
  font-size: 1.6em;
  background-color: rgb(0, 6, 13);
}